<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <a [routerLink]="['/student/add']" class="btn btn-primary mb-3">Add Student</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Student List</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Last Name</th>
                                <th>Phone</th>
                                <th>Faculty</th>
                                <th>Group</th>
                                <th>Course</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let student of students">
                                <td>{{ student.id }}</td>
                                <td><img style="width: 50px; height: 50px;" src="{{baseUrl+'/images/'+student.photo}}" alt=""></td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.last_name }}</td>
                                <td>{{ student.phone }}</td>
                                <td>{{ student.faculty.name }}</td>
                                <td>{{ student.group.name }}</td>
                                <td>{{ student.course.name }}</td>
                                <td><a [routerLink]="['/student/edit/', student.id]" class="btn btn-primary">Edit</a>
                                </td>
                                <td><a (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>