<div class="card mb-5">
  <div class="card-body">
    <form [formGroup] = "angForm" novalidate >
      <div class="form-group">
        <label class="col-md-4">Name </label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Student Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Last name </label>
        <input type="text" class="form-control" formControlName="last_name" />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['last_name'].dirty || angForm.controls['last_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['last_name'].errors.required">
          Student Last name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Phone </label>
        <input type="text" class="form-control" formControlName="phone" />
      </div>
      <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['phone'].errors.required">
          Student phone is required.
        </div>
      </div>


      <div class="form-group col-md-6">
        <label for="faculty_id" >Group </label>
        <select formControlName="group_id" class="form-control" id="group_id">
          <option *ngFor="let group of groups" [selected]="group.id === angForm.controls['group_id'].value" [value]="group.id">
            {{ group.name }}
          </option>
        </select>
      </div>
      <div *ngIf="angForm.controls['group_id'].invalid && (angForm.controls['group_id'].dirty || angForm.controls['group_id'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['group_id'].errors.required">
          Group is required.
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="faculty_id" >Faculty </label>
        <select formControlName="faculty_id" class="form-control" id="faculty_id">
          <option *ngFor="let faculty of faculties" [selected]="faculty.id === angForm.controls['faculty_id'].value" [value]="faculty.id">
            {{ faculty.name }}
          </option>
        </select>
      </div>
      <div *ngIf="angForm.controls['faculty_id'].invalid && (angForm.controls['faculty_id'].dirty || angForm.controls['faculty_id'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['faculty_id'].errors.required">
          Faculty is required.
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="faculty_id" >Course </label>
        <select formControlName="course_id" class="form-control" id="course_id">
          <option *ngFor="let course of courses" [selected]="course.id === angForm.controls['course_id'].value" [value]="course.id">
            {{ course.name }}
          </option>
        </select>
      </div>
      <div *ngIf="angForm.controls['course_id'].invalid && (angForm.controls['course_id'].dirty || angForm.controls['course_id'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['course_id'].errors.required">
          Course is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Photo </label>
        <input type="file"  (change)="uploadFile($event)">
      </div>
      <div *ngIf="angForm.controls['photo'].invalid && (angForm.controls['photo'].dirty || angForm.controls['photo'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['photo'].errors.required">
          Student photo is required.
        </div>
      </div>

      <div class="form-group">
        <button (click)="addStudent(angForm.value)"
                [disabled]="angForm.invalid"
                class="btn btn-primary">Add Student</button>
      </div>
    </form>
  </div>
</div>