<div class="card mb-5">
  <div class="card-body">
    <form [formGroup] = "angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Course Name </label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Course Name is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="updateCourse(angForm.value)"
                [disabled]="angForm.invalid"
                class="btn btn-primary">Update Course</button>
      </div>
    </form>
  </div>
</div>