<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"></div>
        <div class="title">
            <h1 class="h4">Mark Stephen</h1>
            <p>Web Designer</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li routerLinkActive="active"><a [routerLink]="['/dashboard']"> <i class="icon-home"></i>Dashboard </a></li>
        <li routerLinkActive="active"><a [routerLink]="['/course/list']"> <i class="icon-grid"></i>Course </a></li>
        <li routerLinkActive="active"><a [routerLink]="['/faculty/list']"> <i class="fa fa-bar-chart"></i>Faculty </a>
        </li>
        <li routerLinkActive="active"><a [routerLink]="['/group/list']"> <i class="icon-home"></i>Group </a></li>
        <li routerLinkActive="active"><a [routerLink]="['/student/list']"> <i class="icon-padnote"></i>Student </a></li>
    </ul>
</nav>