

<div class="page">
    <!-- Main Navbar-->
    <app-header></app-header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <app-navbar></app-navbar>

        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">Dashboard</h2>
                </div>
            </header>
            <router-outlet></router-outlet>
            <!-- Page Footer-->
            <app-footer></app-footer>

        </div>
    </div>
</div>


<!--<div class="page">-->
    <!--&lt;!&ndash; Main Navbar&ndash;&gt;-->
    <!--<header class="header">-->
        <!--<nav class="navbar">-->
            <!--&lt;!&ndash; Search Box&ndash;&gt;-->
            <!--<div class="search-box">-->
                <!--<button class="dismiss"><i class="icon-close"></i></button>-->
                <!--<form id="searchForm" action="#" role="search">-->
                    <!--<input type="search" placeholder="What are you looking for..." class="form-control">-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="container-fluid">-->
                <!--<div class="navbar-holder d-flex align-items-center justify-content-between">-->
                    <!--&lt;!&ndash; Navbar Header&ndash;&gt;-->
                    <!--<div class="navbar-header">-->
                        <!--&lt;!&ndash; Navbar Brand &ndash;&gt;<a href="index.html" class="navbar-brand d-none d-sm-inline-block">-->
                        <!--<div class="brand-text d-none d-lg-inline-block"><span>Bootstrap </span><strong>Dashboard</strong></div>-->
                        <!--<div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div></a>-->
                        <!--&lt;!&ndash; Toggle Button&ndash;&gt;<a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; Navbar Menu &ndash;&gt;-->
                    <!--<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">-->
                        <!--&lt;!&ndash; Search&ndash;&gt;-->
                        <!--<li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>-->
                        <!--&lt;!&ndash; Notifications&ndash;&gt;-->
                        <!--<li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell-o"></i><span class="badge bg-red badge-corner">12</span></a>-->
                            <!--<ul aria-labelledby="notifications" class="dropdown-menu">-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item">-->
                                    <!--<div class="notification">-->
                                        <!--<div class="notification-content"><i class="fa fa-envelope bg-green"></i>You have 6 new messages </div>-->
                                        <!--<div class="notification-time"><small>4 minutes ago</small></div>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item">-->
                                    <!--<div class="notification">-->
                                        <!--<div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>-->
                                        <!--<div class="notification-time"><small>4 minutes ago</small></div>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item">-->
                                    <!--<div class="notification">-->
                                        <!--<div class="notification-content"><i class="fa fa-upload bg-orange"></i>Server Rebooted</div>-->
                                        <!--<div class="notification-time"><small>4 minutes ago</small></div>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item">-->
                                    <!--<div class="notification">-->
                                        <!--<div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>-->
                                        <!--<div class="notification-time"><small>10 minutes ago</small></div>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>view all notifications                                            </strong></a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--&lt;!&ndash; Messages                        &ndash;&gt;-->
                        <!--<li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope-o"></i><span class="badge bg-orange badge-corner">10</span></a>-->
                            <!--<ul aria-labelledby="notifications" class="dropdown-menu">-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item d-flex">-->
                                    <!--<div class="msg-profile"> <img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>-->
                                    <!--<div class="msg-body">-->
                                        <!--<h3 class="h5">Jason Doe</h3><span>Sent You Message</span>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item d-flex">-->
                                    <!--<div class="msg-profile"> <img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>-->
                                    <!--<div class="msg-body">-->
                                        <!--<h3 class="h5">Frank Williams</h3><span>Sent You Message</span>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item d-flex">-->
                                    <!--<div class="msg-profile"> <img src="img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>-->
                                    <!--<div class="msg-body">-->
                                        <!--<h3 class="h5">Ashley Wood</h3><span>Sent You Message</span>-->
                                    <!--</div></a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read all messages   </strong></a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--&lt;!&ndash; Languages dropdown    &ndash;&gt;-->
                        <!--<li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><img src="img/flags/16/GB.png" alt="English"><span class="d-none d-sm-inline-block">English</span></a>-->
                            <!--<ul aria-labelledby="languages" class="dropdown-menu">-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item"> <img src="img/flags/16/DE.png" alt="English" class="mr-2">German</a></li>-->
                                <!--<li><a rel="nofollow" href="#" class="dropdown-item"> <img src="img/flags/16/FR.png" alt="English" class="mr-2">French                                         </a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--&lt;!&ndash; Logout    &ndash;&gt;-->
                        <!--<li class="nav-item"><a href="login.html" class="nav-link logout"> <span class="d-none d-sm-inline">Logout</span><i class="fa fa-sign-out"></i></a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</nav>-->
    <!--</header>-->
    <!--<div class="page-content d-flex align-items-stretch">-->
        <!--&lt;!&ndash; Side Navbar &ndash;&gt;-->
        <!--<nav class="side-navbar">-->
            <!--&lt;!&ndash; Sidebar Header&ndash;&gt;-->
            <!--<div class="sidebar-header d-flex align-items-center">-->
                <!--<div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>-->
                <!--<div class="title">-->
                    <!--<h1 class="h4">Mark Stephen</h1>-->
                    <!--<p>Web Designer</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Sidebar Navidation Menus&ndash;&gt;<span class="heading">Main</span>-->
            <!--<ul class="list-unstyled">-->
                <!--<li class="active"><a href="index.html"> <i class="icon-home"></i>Home </a></li>-->
                <!--<li><a href="tables.html"> <i class="icon-grid"></i>Tables </a></li>-->
                <!--<li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Charts </a></li>-->
                <!--<li><a href="forms.html"> <i class="icon-padnote"></i>Forms </a></li>-->
            <!--</ul>-->
        <!--</nav>-->
        <!--<div class="content-inner">-->
            <!--&lt;!&ndash; Page Header&ndash;&gt;-->
            <!--<header class="page-header">-->
                <!--<div class="container-fluid">-->
                    <!--<h2 class="no-margin-bottom">Dashboard</h2>-->
                <!--</div>-->
            <!--</header>-->

            <!--<footer class="main-footer">-->
                <!--<div class="container-fluid">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-6">-->
                            <!--<p>Your company &copy; 2017-2019</p>-->
                        <!--</div>-->
                        <!--<div class="col-sm-6 text-right">-->
                            <!--<p>Design by <a href="https://bootstrapious.com/p/admin-template" class="external">Bootstrapious</a></p>-->
                            <!--&lt;!&ndash; Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</footer>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->