<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <a [routerLink]="['/group/add']" class="btn btn-primary mb-3">Add Group</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Group List</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Faculty</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let group of groups">
                                <td>{{ group.id }}</td>
                                <td>{{ group.name }}</td>
                                <td>{{ group.faculty.name }}</td>
                                <td><a [routerLink]="['/group/edit/', group.id]" class="btn btn-primary">Edit</a></td>
                                <td><a (click)="deleteGroup(group.id)" class="btn btn-danger">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>