<div class="card mb-5">
  <div class="card-body">
    <form [formGroup] = "angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Group Name </label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Group Name is required.
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="faculty_id" >Faculty Name </label>
        <select formControlName="faculty_id" class="form-control" id="faculty_id">
          <option value="default">--Select a country--</option>
          <option *ngFor="let faculty of faculties" [selected]="faculty.id === angForm.controls['faculty_id'].value" [value]="faculty.id">
            {{ faculty.name }}
          </option>
        </select>
      </div>
      <div *ngIf="angForm.controls['faculty_id'].invalid && (angForm.controls['faculty_id'].dirty || angForm.controls['faculty_id'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['faculty_id'].errors.required">
          Faculty Name is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="updateGroup(angForm.value)"
                [disabled]="angForm.invalid"
                class="btn btn-primary">Update Group</button>
      </div>
    </form>
  </div>
</div>