<footer class="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p>Your company &copy; 2019</p>
      </div>
      <div class="col-sm-6 text-right">
        <p>Design by <a href="https://bitbucket.org/TikoKarapetyan92" class="external">Go to my bitbucket</a></p>
      </div>
    </div>
  </div>
</footer>
