<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
       <h2>Dashboard</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Student List</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <form>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="filterQuery">
                  </div>
                </div>
              </form>
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Last Name</th>
                  <th>Phone</th>
                  <th>Faculty</th>
                  <th>Group</th>
                  <th>Course</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let student of students | filter : filterQuery">
                  <td>{{ student.id }}</td>
                  <td><img class="img" src="{{ baseUrl + '/images/'+student.photo}}" alt=""></td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.last_name }}</td>
                  <td>{{ student.phone }}</td>
                  <td>{{ student.faculty.name }}</td>
                  <td>{{ student.group.name }}</td>
                  <td>{{ student.course.name }}</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>