<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <a [routerLink]="['/course/add']" class="btn btn-primary mb-3">Add Course</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h3 class="h4">Course List</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let course of courses">
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td><a [routerLink]="['/course/edit/', course.id]" class="btn btn-primary">Edit</a></td>
                <td><a (click)="deleteCourse(course.id)" class="btn btn-danger">Delete</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
